.Main {
    padding: 1vw;
    height: 100%;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.FranchiseContainer {
    width: 60vw;
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.Button {
    padding: 1.2vw 2.8vw;
    transition: scale 0.3s ease-in, background-color 0.2s ease-in, color 0.2s ease-in;
    background-color: var(--background-grey);
    outline: none;

}

.Button:hover {
    scale: 1.02;
    background-color: var(--lightblue);
    color: white;
}

.Button:active {
    scale: 1;
    background-color: white;
}

.Active {
    scale: 1;
    background-color: var(--lightblue);
    color: white;
}