.Main {
    height: 100%;
    width: 100vw;
    position: absolute;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in;
    transition-delay: opacity 0.2s;
}



.Visible {
    visibility: visible;
    opacity: 1
}

.Title {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s linear 0.7s;
}

.Para {
    opacity: 0;
    transition: opacity 0.3s linear 0.7s;
    font-size: 1em;
}

.TitleVisible {
    opacity: 1
}

.successAnimation {
    margin: 150px auto;
}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: var(--lightblue);
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px var(--lightblue);
    position: relative;
    top: 5px;
    right: 5px;
    margin: 0 auto;
}

.checkmarkActive {
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    animation-delay: 1s;
}

.circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: var(--lightblue);
    fill: #fff;

}

.circleActive {
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    animation-delay: 1s;
}

.check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;

}

.checkActive {
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 1s forwards;

}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px var(--lightblue);
    }
}