.Main {
    width: 60vw;
    transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out;
    transition-delay: 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: calc(1em + 3vh);

}

.PLZContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(1vw + 1em);
}

.Main input {
    background-color: var(--background-grey);
    padding: calc(0.6em + 0.4vh) calc(1em + 0.8vw);
    width: calc(6em + 6vw);
    text-align: center;
}

.Main input:focus {
    outline: 2px solid var(--lightblue);
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

@media screen and (max-width:762px) {
    .Main {
        width: 60vw;
    }


    .PLZContainer {
        width: 100%;
        gap: calc(1vw + 0.5em);
    }

    .Main input {
        background-color: var(--background-grey);
        padding: calc(0.6em + 0.4vh) calc(1em + 0.8vw);
        width: calc(6em + 6vw);
        text-align: center;
    }

    .Main input:focus {
        outline: 2px solid var(--lightblue);
        box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
    }
}