.Main {
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding-top: 1vw;

}

.OfferList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8vw;
}

.Offer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: scale 0.3s ease-in, background-color 0.2s ease-in;
    background-color: var(--background-grey);
    outline: none;
    font-size: calc(0.3em + 0.5vw);
}

.TextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 0.6vw 0.4vw;
    gap: 0.4vw;

}

.OfferTitle {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

.PraemieText {
    font-weight: bold;
    font-size: 1.2em;

}

.Button {
    padding: 0.6vw 0.6vw;
    background-color: rgba(10, 251, 223, 0.736);

}

.Button:hover {
    scale: 1.04;
    background-color: var(--lightblue);
    cursor: pointer;
    transition: scale 0.3s ease-in, background-color 0.2s ease-in;
}

.Button:active {
    scale: 1;
    background-color: white;
}