.Main {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.Main p {
    font-size: 0.9em;
}

.ButtonContainer {

    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.Button {
    background-color: var(--background-grey);
    width: 4vw;
    padding: 0.5vw 0;
    transition: scale 0.3s ease-in, background-color 0.2s ease-in;
    font-size: 0.9em;
}

.Button:hover {
    background-color: var(--lightblue);
    scale: 1.02;
}

.Active {
    background-color: var(--lightblue);
    color: white;
}