.Main {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}


.ButtonContainer {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.Button {
    background-color: var(--background-grey);
    min-width: 4.5em;
    padding: 1.4vh 0;
    transition: scale 0.3s ease-in, background-color 0.2s ease-in, color 0.2s ease-in;
    font-size: 1em;
}

.Button:hover {
    background-color: var(--lightblue);
    scale: 1.02;
    color: white;
}

.Active {
    background-color: var(--lightblue);
    color: white;
}