@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-grey: rgb(247, 246, 246);
  --background-grey-darker: rgb(203, 203, 203);
  --font-black: rgb(52, 52, 52);
  --blue: #8AAAE5;
  --lightblue: rgb(192, 214, 255);
  --green: #CCF381;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 6vh;
}

* {
  color: var(--font-black);
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}