@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --background-grey: rgb(247, 246, 246);
  --background-grey-darker: rgb(203, 203, 203);
  --font-black: rgb(52, 52, 52);
  --blue: rgb(163, 3, 57);
  /* --lightblue: #54a4db; */
  --lightblue: rgba(113, 0, 38, 1);
  /* --green: #CCF381; */
  --font: Helvetica, sans-serif;
  --lightblueold: rgba(113, 0, 38, 1);

}

h2 {
  font-size: calc(1.3rem + 0.4vw);
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 4vh;
  padding-top: 1vh;
}

* {
  color: var(--font-black);
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: var(--font);
}


body {
  background-color: transparent;

}


button {
  font-size: calc(0.85em + 0.2vw);
}

@media screen and (max-width:762px) {
  p {
    font-size: 1em;
    text-align: center;
  }

  button {
    font-size: calc(0.85em + 0.2vw);
  }

  h3 {
    text-align: center;
  }

}