@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --background-grey: rgb(247, 246, 246);
  --background-grey-darker: rgb(203, 203, 203);
  --font-black: rgb(52, 52, 52);
  --blue: #8AAAE5;
  --lightblue: #54a4db;
  /* --green: #CCF381; */
  --font: Arial;
  --lightblueold: rgba(10, 251, 223, 0.736);

}

h2 {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 6vh;
}

* {
  color: var(--font-black);
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}


body {
  background-color: transparent;
  background-color: transparent;
}


button {
  font-size: calc(0.9em + 0.2vw);
}