.Main {
    min-height: 100svh;
    min-width: 100svw;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    color: var(--font-black);
    padding-top: 8vh;
}