.Main {
    min-height: 100svh;
    min-width: 100svw;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    color: var(--font-black);
    padding-top: 8vh;

}