.Main {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 10;
}


.Multistep {
    position: relative;
    width: 60vw;
    overflow: hidden;

}

.MultistepSlider {
    display: flex;
    flex-direction: row;
    width: 360vw;
    transition: transform 0.6s ease-in-out;
    transition-delay: 0.1s;
    height: 60vh;
    overflow: hidden;
}

.OffersContainer {
    height: auto;
    width: 60vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.OffersContainer::-webkit-scrollbar {
    width: 10px;

}

.OffersContainer::-webkit-scrollbar-track {
    background: white;

}

.OffersContainer::-webkit-scrollbar-thumb {
    background: var(--lightblue);

}

.OffersContainer::-webkit-scrollbar-thumb:hover {
    background: #555;

}

.LowerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 4vw;
    justify-content: space-between;
    align-self: flex-end;

}


.AdvanceButton {
    background-color: var(--background-grey);
    padding: calc(0.6em + 0.4vh) calc(1em + 0.8vw);
    background-color: rgb(232, 232, 232);
    transition: scale 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out, width 0.2s ease-in;
}

.AdvanceButton:hover {
    scale: 1.02;
    background-color: var(--lightblue);
    color: white;
}

.IndicatorContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(1em + 1vw);
    padding-top: 3vh;
    width: 100%;
}

.Indicator {
    height: calc(0.2em + 0.3vw);
    width: calc(0.2em + 0.3vw);
    background-color: rgb(203, 203, 203);
    border-radius: 50%;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.Disabled {
    background-color: rgb(231, 231, 231);
    color: var(--background-grey);
    scale: 1;
    pointer-events: none;
}

.NotVisible {
    visibility: hidden;
}

.Active {
    transform: scale(1.05);
    background-color: var(--lightblue);
    color: white;
}