.Main {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 10;
}


.Multistep {
    position: relative;
    width: 80vw;
    overflow: hidden;

}

.title {
    text-align: center;
}

.MultistepSlider {
    display: flex;
    flex-direction: row;
    width: 480vw;
    transition: transform 0.6s ease-in-out;
    transition-delay: 0.1s;
    height: 60vh;
    overflow: hidden;
}

.OffersContainer {
    height: auto;
    width: 80vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.OffersContainer::-webkit-scrollbar {
    width: 10px;

}

.OffersContainer::-webkit-scrollbar-track {
    background: white;

}

.OffersContainer::-webkit-scrollbar-thumb {
    background: var(--lightblue);

}

.OffersContainer::-webkit-scrollbar-thumb:hover {
    background: #555;

}

.LowerContainer {
    width: 100%;
    max-width: 80vw;
    display: flex;
    align-items: center;
    padding-top: calc(2em + 2vw);
    justify-content: space-between;
    align-self: center;

}


.AdvanceButton {
    background-color: var(--background-grey);
    padding: calc(0.6em + 0.4vh) calc(1em + 0.8vw);
    background-color: rgb(232, 232, 232);
    transition: scale 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out, width 0.2s ease-in;
}

.AdvanceButton:hover {
    scale: 1.02;
    background-color: var(--lightblue);
    color: white;
}

.IndicatorContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(0.5em + 1vw);
    padding-top: 3vh;
    width: 100%;
}

.Indicator {
    height: calc(0.4em + 0.3vw);
    width: calc(0.4em + 0.3vw);
    background-color: rgb(203, 203, 203);
    border-radius: 50%;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.Disabled {
    background-color: var(--background-grey);
    color: rgb(144, 144, 144);
    scale: 1;
    pointer-events: none;
}


.NotVisible {
    visibility: hidden;
}

.Active {
    transform: scale(1.05);
    background-color: var(--lightblue);
    color: white;
}



@media screen and (max-width:762px) {


    .IndicatorContainer {

        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(0.5em + 1vw);
        padding-top: 3vh;
        width: 100%;
        max-width: 50vw;
    }

}