.Main {

    width: 80vw;
    position: relative;
}

.Title {
    font-size: 4rem;
    text-transform: uppercase;
    padding-bottom: 5vh;
}

.List {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1vw;
}

.ListObject {
    border: 1px solid black;
    text-align: center;
    padding: 1vw;
}

.ZipcodeContainer {
    padding-bottom: 3vh;
}