.Main {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-150%);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    padding: 3vw;
    transition: transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1),
        visibility 0s linear 0.8s;
}


.FormVisible {
    visibility: visible;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: 0s;
}

.Main form {
    gap: calc(0.8em + 0.5vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.Main h2 {
    padding-bottom: 0vw;
    padding-top: 2vw;
}

.Main p {
    text-align: center;
}

.Main input,
.Main textarea {
    background-color: var(--background-grey);
    padding: 0.7vw;
    width: 40vw;
}

.Main label {
    font-weight: bold;
}

.Main input:focus,
.Main textarea:focus {
    outline: 2px solid var(--lightblue);
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.Main textarea {
    height: 15vh;
}

.FormGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.FormGroupAccept {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    padding: 1em 0;
}

.FormGroup label {
    width: calc(4em + 3vw);
}

.TermsLabel {
    width: fit-content;
    font-weight: 200 !important;
    font-size: 0.8em;
}

.TermsLabel a {
    text-decoration: underline;
}


.PhoneInputContainer {
    background-color: var(--background-grey);
    padding-left: 10px;
    box-sizing: border-box;
    max-width: 100%;
}

.PhoneInput {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 40vw !important;
}

.PhoneInput * {
    background-color: var(--background-grey);

}

.required {
    color: red;
    font-size: 0.8em;
    padding-left: 3px;
}



.Button {
    padding: 1vw 1vw;
    transition: scale 0.3s ease-in, background-color 0.2s ease-in;
    background-color: var(--lightblue);
    outline: none;
    color: white;
}

.Button:hover {
    scale: 1.05
}

.Button:active {
    scale: 1
}




.CrossContainer {
    height: calc(1vw + 1.2em);
    width: calc(1vw + 1.2em);
    position: absolute;
    top: 3vh;
    right: 0;
}

.Cross {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 0.2s ease-in;
    transform-origin: center;
}

.Cross:hover {
    transform: scale(1.02);
    cursor: pointer;
}


.Cross div {
    height: 60%;
    width: 3px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease-in;

}

.Cross:hover div {
    background-color: var(--lightblue);
}


.Cross div:nth-of-type(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.Cross div:nth-of-type(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.TermsLabel {
    font-weight: 300;
}


@media screen and (max-width:762px) {
    .Main {
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-150%);
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        padding: 3vw;
        transition: transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1),
            visibility 0s linear 0.8s;
    }


    .FormVisible {
        visibility: visible;
        transform: translateX(-50%) translateY(-50%);
        transition: transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
        transition-delay: 0s;

    }

    .Main form {
        gap: calc(0.6em + 0.5vw);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Main h2 {
        padding-bottom: 0vw;
        padding-top: 2vw;
        text-align: center;
    }

    .Main p {
        text-align: center;
        font-size: 0.7em;
        padding-bottom: 1em;
    }

    .Main input,
    .Main textarea {
        background-color: var(--background-grey);
        padding: 0.3em 0.4em;
        width: 80vw;
    }

    .Main label {
        font-weight: bold;
        width: 80vw;
    }

    .TermsLabel {
        font-weight: 200 !important;
        font-size: 0.8em;
        text-align: center;
    }

    .Main input:focus,
    .Main textarea:focus {
        outline: 2px solid var(--lightblue);
        box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
    }

    .Main textarea {
        height: 2em;
    }

    .FormGroup {
        gap: 0.2em;
        flex-direction: column;
    }

    .FormGroupAccept {
        gap: 0.2em;
        flex-direction: column;
    }


    .PhoneInput {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 80vw !important;
    }



    .required {
        color: red;
        font-size: 0.8em;
        padding-left: 3px;
    }



    .Button {
        padding: calc(1em + 0.5vw) calc(1em + 1vw);
        transition: scale 0.3s ease-in, background-color 0.2s ease-in;
        background-color: var(--lightblue);
        outline: none;
        color: white;
        margin-top: 10px;
    }

    .Button:hover {
        scale: 1.05
    }

    .Button:active {
        scale: 1
    }

    .CrossContainer {
        height: calc(1vw + 1.2em);
        width: calc(1vw + 1.2em);
        position: absolute;
        top: 3vh;
        right: calc(1em + 1vw);
    }

    .Cross {
        height: 100%;
        width: 100%;
        position: relative;
        transition: transform 0.2s ease-in;
        transform-origin: center;
    }

    .Cross:hover {
        transform: scale(1.02);
        cursor: pointer;
    }


    .Cross div {
        height: 60%;
        width: 3px;
        background-color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: background-color 0.2s ease-in;

    }

    .Cross:hover div {
        background-color: var(--lightblue);
    }


    .Cross div:nth-of-type(1) {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .Cross div:nth-of-type(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

}