.Main {
    height: 75vh;
    width: 30vw;
    transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out;
    transition-delay: 0.3s;
    display: flex;
    flex-direction: column;

}

.cantonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 2vw;
    column-gap: 2vw;
    align-items: center;
    justify-content: center;
    width: 30vw;
    padding: 0 2vw;
}

.Button {

    padding: 0.8vw 0.8vw;
    height: 3.6vw;
    width: 3.6vw;
    transition: scale 0.3s ease-in, background-color 0.2s ease-in;
    background-color: var(--background-grey);
    outline: none;
    font-size: calc(0.4em + 0.6vw);
    border-radius: 50%;
}

.Button:hover {
    scale: 1.04;
    background-color: var(--lightblue);
}

.Button:active {
    scale: 1;
    background-color: white;
}

.Active {
    scale: 1;
    background-color: var(--lightblue);
}