.Main {
    width: 80vw;
    transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out;
    transition-delay: 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;

}

.cantonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1vw;
    column-gap: 1vw;
    width: 80vw;
    padding: 0 2vw;

}

.Button {

    padding: calc(0.6em + 0.4vh) calc(1em + 0.8vw);
    height: 3.2vw;
    width: 3.2vw;
    transition: scale 0.3s ease-in, background-color 0.2s ease-in;
    background-color: var(--background-grey);
    outline: none;

}

.Button:hover {
    scale: 1.02;
    background-color: var(--lightblue);
    color: white;
}

.Button:active {
    scale: 1;
    background-color: white;
}

.Active {
    scale: 1;
    background-color: var(--lightblue);
    color: white;
}