.Main {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(1vw + 1em);
}


.ButtonContainer {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.Button {
    background-color: var(--background-grey);
    min-width: 4.5em;
    padding: calc(0.6em + 0.4vh) calc(1em + 0.8vw);
    transition: scale 0.3s ease-in, background-color 0.2s ease-in, color 0.2s ease-in;

}

.Button:hover {
    background-color: var(--lightblue);
    scale: 1.02;
    color: white;
}

.Active {
    background-color: var(--lightblue);
    color: white;
}