.Main {
    padding: 1vw;
    height: 100%;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AgeContainer {
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(1vw + 2em);
}

.Button {

    padding: calc(1vh + 1em) calc(1vw + 2em);
    transition: scale 0.3s ease-in, background-color 0.2s ease-in;
    background-color: var(--background-grey);
    outline: none;



}

.Button:hover {
    scale: 1.02;
    background-color: var(--lightblue);
    color: white;
}

.Button:active {
    scale: 1;
    background-color: white;
}

.Active {
    scale: 1;
    background-color: var(--lightblue);
    color: white;
}