.Main {
    padding: 1vw;
    height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.Button {

    width: 6vw;
    height: 3vw;
    transition: scale 0.3s ease-in, background-color 0.2s ease-in;
    background-color: var(--background-grey);
    outline: none;
    font-size: calc(0.5em + 0.5vw);


}

.Button:hover {
    scale: 1.02;
    background-color: var(--lightblue);
}

.Button:active {
    scale: 1;
    background-color: white;
}

.Active {
    scale: 1;
    background-color: var(--lightblue);
}